<div>
    <mat-toolbar color="primary">
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>        
        <span>My App</span>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="customerMenu">Customers</button>
        <mat-menu #customerMenu="matMenu">
          <button mat-menu-item routerLink="/customers/create">Create</button>
          <button mat-menu-item routerLink="/customers/view">View</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="orderMenu">Orders</button>
        <mat-menu #orderMenu="matMenu">
          <button mat-menu-item routerLink="/orders/create">Create</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="productMenu">Products</button>
        <mat-menu #productMenu="matMenu">
          <button mat-menu-item routerLink="/products/create">Create</button>
          <button mat-menu-item routerLink="/products/view">View</button>
        </mat-menu>                        
    </mat-toolbar>      
</div>
<router-outlet></router-outlet>