<section>
    <div class="mat-elevation-z8 card m-5rem" >
        <mat-card>
            <div *ngIf="dataSource.data.length > 0; else elseDiv">
                <mat-card-header>
                    <mat-card-title>Product List</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-table [dataSource]="dataSource">
                        <!-- ID -->
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
                        </ng-container>                        
                        <!-- Name -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                        </ng-container>
                        <!-- Price -->
                        <ng-container matColumnDef="price">
                            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.price}}</mat-cell>
                        </ng-container>
                        <!-- CreatedDate -->
                        <ng-container matColumnDef="createdAt">
                            <mat-header-cell *matHeaderCellDef>Created Date</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.createdAt | date: 'dd-MMM-yyyy'}}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    </mat-table>
                </mat-card-content>
            </div>
            <ng-template #elseDiv>
                <mat-card-header>
                    <mat-card-title>No products found</mat-card-title>
                </mat-card-header>
            </ng-template>
        </mat-card>
    </div>
</section>