/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card {
    width: 90%;
}
.remove-spinner {
    input[matinput]::-webkit-outer-spin-button,
    input[matinput]::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
    }
}
.card-actions {
    justify-content: flex-end;
    gap: 0.7rem;
}
.divider {
    width: 98%;
    margin: auto !important;
}
.dynamic-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.spacer {
    flex: 1 1 auto;
}
.m-5rem {
    margin: 5rem;
}
.m-1rem {
    margin: 1rem;
}
.flex-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin: 2%;
}
.detail-header {
    font-size: 16px;
    font-weight: 450;
}